{% extends "public/layout.html" %}

{% load get_approver_process_result %}
{% load dbmanager_filter %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/plugin/Bootstrap-Wizard-master/css/bwizard.min.css">
{% endblock %}

{% block breadcrumb %} 
    工单系统 / <strong class="active">工单详情</strong>
{% endblock %}

{% block body %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>工单详情</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form id="MyApprovalWorkForm" enctype="multipart/form-data" class="form-horizontal nice-validator n-yellow Formvalid" novalidate="novalidate">
                        {% csrf_token %}
                    <div class="form-group">
                        <input type="hidden" name="id" id='id_approval' value="{{ object.id }}">
                        <input type="hidden" name="process_step_id" id='step_id_approval' value="{{ object.process_step_id }}">
                    </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">主题<span class="red-fonts ">*</span></label>
                            <input id='title' name="title" style="width: 60%;" type="text" class="form-control" aria-required="true" value="{{ object.title }}" readonly>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">类型<span class="red-fonts">*</span></label>
                             {% if object.type == 0 %}
                                         <input id='title' name="title" style="width: 60%;" type="text" class="form-control" aria-required="true" value="回滚" readonly>
                             {% else %}
                                        <input id='title' name="title" style="width: 60%;" type="text" class="form-control" aria-required="true" value="发布" readonly>
                             {% endif %}
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">上线原因<span class="red-fonts">*</span></label>
                                {% if object.reason == '0' %}
                                    <input id='reason' name="reason" style="width: 60%;" type="text" class="form-control" aria-required="true" value="项目需求" readonly>
                                {% elif object.reason == '1' %}
                                    <input id='reason' name="reason" style="width: 60%;" type="text" class="form-control" aria-required="true" value="故障修复" readonly>
                                {% elif object.reason == '2' %}
                                    <input id='reason' name="reason" style="width: 60%;" type="text" class="form-control" aria-required="true" value="技术优化" readonly>
                                {% else %}
                                    <input id='reason' name="reason" style="width: 60%;" type="text" class="form-control" aria-required="true" value="其他" readonly>
                                {% endif %}
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="module_name_pre" class="col-sm-2 control-label">发布模块名<span class="red-fonts ">*</span></label>
                            <input id='title' name="title" style="width: 60%;" type="text" class="form-control" aria-required="true" value="{{ object.module_name }}" readonly>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="detail" class="col-sm-2 control-label">发布说明<span class="red-fonts">*</span></label>
                            <textarea name='detail' id='detail' class="form-control" style="width: 60%" rows="5" readonly>{{ object.detail }}</textarea>
                        </div>
                        {% if object.sql == 'yes' %}
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="red-fonts">是否自动执行SQL</span></label>
                            <div class="col-sm-8 row">
                                <div class="col-sm-3">
                                    <div class="radio i-checks">
                                        <label><input type="radio" value="1" name="sql_auto_execute" checked="checked">是</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="radio i-checks">
                                        <label><input type="radio" value="0" name="sql_auto_execute">否</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="table-responsive">
                        <table cellpadding="4" cellspacing="0" border="0" width="100%" class="table">
                            <caption><b>数据库服务器信息</b></caption>

                        <thead>
                        <tr>
                            <th width="5%">序号</th>
                            <th>IP地址</th>
                            <th>实例端口</th>
                            <th>数据库名称</th>
                            <th>角色</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in db_info %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.host.private_ip }}</td>
                            <td>{{ item.port }}</td>
                            <td>{{ dbname }}</td>
                            {% if item.role == 'M' %}
                                <td>主库</td>
                            {% else %}
                                <td>从库</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                        </div>

                        <div class="form-group">
                        <table cellpadding="4" cellspacing="0" border="0" width="100%" class="table table-condensed">
                            <caption><b>SQL语句信息</b></caption>
                        <thead>
                        <tr>
                            <th width="5%">序号</th>
                            <th width="80%">SQL</th>
                            <th width="27%">执行结果</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in  sql_detail%}
                            {% if item.status == 1 %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        <textarea style="width:100%;word-break:break-all;overflow:auto;" rows="{{ item.sql|sql_rows }}" readonly>{{ item.sql }}</textarea>
                                    </td>
                                    <td>
                                    {% if item.ddl_type == 2 %}
                                         <a href="{% url 'get_onlineddl_result' item.id %}">查看详情</a>
                                    {% else %}
                                        {{ item.result }}
                                    {% endif %}
                                    </td>
                                </tr>
                            {% elif item.status == 3 %}
                                <tr class="danger">
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                       <textarea style="width:100%;word-break:break-all;overflow:auto;" rows="{{ item.sql|sql_rows }}" readonly>{{ item.sql }}</textarea>
                                    </td>
                                    <td>
                                    {% if item.ddl_type == 2 %}
                                        <a href="{% url 'get_onlineddl_result' item.id %}">查看详情</a>
                                    {% else %}
                                        {{ item.result }}
                                    {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                       <textarea style="width:100%;word-break:break-all;overflow:auto;" rows="{{ item.sql|sql_rows }}" readonly>{{ item.sql }}</textarea>
                                    </td>

                                    <td>
                                    {% if item.ddl_type == 2 %}
                                        <a href="{% url 'get_onlineddl_result' item.id %}">查看详情</a>
                                    {% else %}
                                        {{ item.result }}
                                    {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                        </table>
                        </div>

                        {% endif %}


                        <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" >审批结果 <span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    {% for k,v in approval_result.items %}
                                    <div class="col-sm-3">
                                        <div class="radio i-checks">
                                            <label><input type="radio" value="{{ k }}" name="result">{{ v }}</label>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-inline row">
                                <div class="form-group col-sm-12">
                                    <label for="approve_note" style="width:15%" class="control-label text-right">审批意见 <span class="red-fonts">*&nbsp</span></label>
                                    <textarea  name="approve_note" style="width: 79%;" class="form-control" aria-required="true" rows="5">
                                    </textarea>
                                </div>
                            </div>
                    </form>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-5">
                                <button id="pub_submit" class="btn btn-primary">审批</button>
                                <button class="btn btn-warning" type="reset">取消</button>
                                <button class="btn btn-info" type="reset">重置</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

<script>

<!--审批-->
$(document).on("click",".process_approval",function(){
    $("#module_name_approval_div").removeAttr('style')
    var id = $(this).attr("data-id")
    var process_id = $(this).attr("process-id")
    var url = "{% url 'workform_approval' %}?id="+id+"&process_id="+process_id
    $.getJSON(url,function(data){
        if(data.result==0){
            data = data.wf_info
            console.log(data)
            $("#id_approval").val(data.id)
            $("#step_id_approval").val(data.process_step_id)
            $("#title_approval").val(data.title)
            $("#detail_approval").val(data.detail)
            $("#type_approval").val(data.type_id)
            if(data.type=='publish'){
                $("#module_name_approval").val(data.module_name)
            }else if(data.type=='rollback'){
                $("#module_name_approval").val(data.module_name)
            }else{
                $("#module_name_approval").val('')
                $("#module_name_approval_div").attr('style','display:none')
            };
            $("#level_approval").val(data.level)
            $("#approval-head").text(data.process)
            $("#status_approval").val(data.status)
            $("#applicant_approval").val(data.applicant)
            $("#MyApprovalWorkFormModal").modal("show")
        }else{
            swal("OH,My God",data.msg,"error")
        }
    })
});

$("#pub_submit").click(function(){
    var str = $("#MyApprovalWorkForm").serialize()
    var url = "{% url 'workform_approval' %}"
    $.post(url,str,function(data){
        if(data.result==0){
           $('#MyApprovalWorkFormModal').modal('hide')
           swal({
             title:"Good",
             text:data.msg,
             type:'success',
             confirmButtonText:"确定"
             },
             function(){
                location.reload()
                location.href="{% url 'workform_list' %}"
           })
       }else{
            swal("OH,My God",data.msg,"error")
       }; 
    })
    return false
});

</script>

{% endblock %}

