{% extends "public/layout.html" %}

{% block breadcrumb %}
<i class="fa fa-database"></i> 数据库管理 / <strong class="active">Mysql 集群</strong>
{% endblock %}

{% block body %} 

<div class="col-sm-12">
    <table class="table table-striped table-bordered table-hover">
        <caption>
            <div>
                <form class="form-inline">
                    {% csrf_token %}
                    <a href="#" class="btn btn-primary" id="db_cluster_add">添加集群</a>
                    <button type="submit" class="btn btn-primary" style="float:right">搜索</button>
                    <div class="form-group" style="text-align:right;float: right;margin-right: 10px;">
                        <input type="text" class="form-control" name="search" value="{{ search }}" placeholder="名称 | VIP | 域名">
                    </div>
                </form> 
            </div>
        </caption>  
        <thead>
            <tr>
                <th class="text-center" style="width: 10%">名称</th>
                <th class="text-center">读写域名</th>
                <th class="text-center">读写VIP</th>
                <th class="text-center">只读域名</th>
                <th class="text-center">只读VIP</th>
                <th class="text-center">所属环境</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">最近修改时间</th>
                <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
            {% for dbc in object_list %}
            <tr class="gradeX">
                <td class="text-center" style="vertical-align: middle"><strong>{{ dbc.name }}</strong></td>
                <td class="text-center" style="vertical-align: middle">{{ dbc.w_domain_name | default_if_none:'' }}</td>
                <td class="text-center" style="vertical-align: middle">{{ dbc.w_vip | default_if_none:'' }}</td>
                <td class="text-center" style="vertical-align: middle">{{ dbc.r_domain_name | default_if_none:'' }}</td>
                <td class="text-center" style="vertical-align: middle">{{ dbc.r_vip | default_if_none:'' }}</td>
                <td class="text-center" style="vertical-align: middle">{{ dbc.get_env_display }}</td>
                <td class="text-center" style="vertical-align: middle">{{ dbc.create_time|date:"Y-m-d H:i:s" }}</td>
                <td class="text-center" style="vertical-align: middle">{{ dbc.last_update_time|date:"Y-m-d H:i:s" }}</td>
                <td class="text-center" sdata-idtyle="vertical-align: middle">
                    <button data-id="{{ dbc.id }}" class="btn btn-sm btn-primary db_cluster_change_btn">编辑</button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1">
                            关联信息<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li>
                                <a href="{% url 'mysql_cluster_relate_instance' %}?id={{ dbc.id }}">
                                    关联实例
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'mysql_cluster_relate_dbs' %}?id={{ dbc.id }}">
                                    关联库
                                </a>
                            </li>
                        </ul>
                    </div>
                    {% if user.is_superuser == 1 %}
                        <button data-id="{{ dbc.id }}" data-del="{{ dbc.name }}" class="btn btn-sm btn-danger del-btn">删除</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- 列表分页 -->
    <div class="text-center">
        <ul class="pagination">
            <li class="disabled"><a href="#">总页数: {{ page_obj.paginator.num_pages }}</a></li>

            {% if page_obj.number != 1 %}
                <li><a href={% url "db_list" %}?page=1{{ search_uri }}>首页</a></li>
            {% else %}
                <li class="disabled"><a href="#">首页</a></li>
            {% endif %}

            {% if page_obj.has_previous %}
                <li><a href={% url "workform_list" %}?page={{ page_obj.previous_page_number }}{{ search_uri }}>上一页</a></li>
            {% else %}
                <li class="disabled"><a href="#">上一页</a></li>
            {% endif %}

            {% for page in page_range %}
               {% if page == page_obj.number %}
                  <li class="active"><a href={% url "workform_list" %}?page={{ page }}{{ search_uri }}>{{ page }}</a></li>
               {% else %}
                  <li><a href={% url "workform_list" %}?page={{ page }}{{ search_uri }}>{{ page }}</a></li>
               {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href={% url "workform_list" %}?page={{ page_obj.next_page_number }}{{ search_uri }}>下一页</a></li>
            {% else %}
                <li class="disabled"><a href="#">下一页</a></li>
            {% endif %}
            
            {% if page_obj.number != page_obj.paginator.num_pages %}
                <li><a href={% url "workform_list" %}?page={{ page_obj.paginator.num_pages }}{{ search_uri }}>末页</a></li>
            {% else %}
                <li class="disabled"><a href="#">末页</a></li>
            {% endif %}

            <li class="disabled"><a href="#">总条数: {{ page_obj.paginator.count }}</a></li>
        </ul>
    </div>
    <!-- 分页结束 -->

    <!--添加模态框-->
    <div id="ClusterAddModal"  class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span ariaa-hidden="true">&times;</span></button>
                    <h3 class="modal-title">添加 Mysql 集群</h3>
                </div> <!--modal-header end-->
                <div class="modal-body">
                    <form class="form-horizontal" id="ClusterAddForm">
                        {% csrf_token %}
                        <div class="form-inline row">
                            <div class="form-group col-sm-12">
                                <label for="name" class="control-label text-right" style="width: 15%;">集群名称 <span class="red-fonts">*</span></label>
                                &nbsp<input name="name" placeholder="name" type="text" class="form-control" aria-required="true" style="width: 80%;">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-inline row">
                            <div class="form-group col-sm-6">
                                <label for="w_domain_name" class="col-sm-4 control-label text-right">读写域名 </label>
                                <input name="w_domain_name" placeholder="w_domain_name" type="text" class="form-control" aria-required="true" style="width: 65%;">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="w_vip" class="col-sm-4 control-label text-right">读写 VIP</label>
                                &nbsp<input name="w_vip" placeholder="w_vip" type="text" class="form-control" aria-required="true" style="width: 65%;">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-inline row">
                            <div class="form-group col-sm-6">
                                <label for="r_domain_name" class="col-sm-4 control-label text-right">只读域名 </label>
                                <input name="r_domain_name" placeholder="r_domain_name" type="text" class="form-control" aria-required="true" style="width: 65%;">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="r_vip" class="col-sm-4 control-label text-right">只读 VIP</label>
                                &nbsp<input name="r_vip" placeholder="r_vip" type="text" class="form-control" aria-required="true" style="width: 65%;">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-inline row">
                            <div class="form-group col-sm-6">
                                <label for="env" class="col-sm-4 control-label text-right">所属环境 </label>
                                <select name="env" class="form-control" style="width: 65%;">
                                    <option value="">请选择...</option>
                                    {% for k,v in env_list.items %}
                                        <option value="{{ k }}">{{ v }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id = "cluster_add_submit" >提交</button>
                    <button class="btn btn-warning exit-btn" data-dismiss="modal">退出</button>
                    <button class="btn btn-info" type="reset">重置</button>
                </div>
            </div>
        </div>
    </div>
    <!--添加结束-->

    <!--编辑模态框-->
    <div id="ClusterUpdateModal"  class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span ariaa-hidden="true">&times;</span></button>
                    <h3 class="modal-title">编辑 Mysql 集群</h3>
                </div> <!--modal-header end-->
                <div class="modal-body">
                    <form class="form-horizontal" id="ClusterUpdateForm">
                        {% csrf_token %}
                        <input name="id" id="id_update" type="hidden" readonly>
                        <div class="form-inline row">
                            <div class="form-group col-sm-12">
                                <label for="name" class="control-label text-right" style="width: 15%;">集群名称 <span class="red-fonts">*</span></label>
                                &nbsp<input name="name" id="name_update" type="text" class="form-control" aria-required="true" style="width: 80%;" readonly>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-inline row">
                            <div class="form-group col-sm-6">
                                <label for="w_domain_name" class="col-sm-4 control-label text-right">读写域名 </label>
                                <input name="w_domain_name" id="w_domain_name_update" type="text" class="form-control" aria-required="true" style="width: 65%;">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="w_vip" class="col-sm-4 control-label text-right">读写 VIP</label>
                                &nbsp<input name="w_vip" id="w_vip_update" type="text" class="form-control" aria-required="true" style="width: 65%;">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-inline row">
                            <div class="form-group col-sm-6">
                                <label for="r_domain_name" class="col-sm-4 control-label text-right">只读域名 </label>
                                <input name="r_domain_name" id="r_domain_name_update" type="text" class="form-control" aria-required="true" style="width: 65%;">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="r_vip" class="col-sm-4 control-label text-right">只读 VIP</label>
                                &nbsp<input name="r_vip" id="r_vip_update" type="text" class="form-control" aria-required="true" style="width: 65%;">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-inline row">
                            <div class="form-group col-sm-6">
                                <label for="env" class="col-sm-4 control-label text-right">所属环境 </label>
                                <select name="env" id="env_update" class="form-control" style="width: 65%;">
                                    <option value="">请选择...</option>
                                    {% for k,v in env_list.items %}
                                        <option value="{{ k }}">{{ v }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id = "cluster_update_submit" >提交</button>
                    <button class="btn btn-warning exit-btn" data-dismiss="modal">退出</button>
                    <button class="btn btn-info" type="reset">重置</button>
                </div>
            </div>
        </div>
    </div>
    <!--编辑结束-->

    <!-- 删除模态框 -->
    <div class="modal fade" id='DeleteModal'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">删除</h4>
                </div>
                <div class="modal-body">
                    <p id="data-del"></p>
                    <p style="color:red"><b>你确认要删除吗?</b></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-warning del-sure" data-id=''>确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>

{% endblock %}

{% block js %}
<script>

<!--添加-->
$("#db_cluster_add").click(function(){
    $("#ClusterAddModal").modal("show")
});

$("#cluster_add_submit").click(function(){
    var str = $("#ClusterAddForm").serialize()
    var url = "{% url 'mysql_cluster_add' %}"
    $.post(url,str,function(data){
        if (data.result==0){
            swal({
                title:"Good",
                text:data.msg,
                type:'success',
                confirmButtonText:"确定"
                },
                function(){
                    location.reload()
                });
        }else{
            swal("Oh,My God",data.msg,"error")
        }
    });
    return false;
});
<!--添加结束-->

<!--编辑-->
$(".db_cluster_change_btn").click(function(){
    var id = $(this).attr("data-id")
    var url = "{% url 'mysql_cluster_change' %}?id=" + id
    $.getJSON(url,function(data){
        if(data.result==0){
            data = data.dbc_info
            $("#id_update").val(data.id)
            $("#name_update").val(data.name)
            $("#r_domain_name_update").val(data.r_domain_name)
            $("#r_vip_update").val(data.r_vip)
            $("#w_domain_name_update").val(data.w_domain_name)
            $("#w_vip_update").val(data.w_vip)
            $("#env_update option[value='"+data.env+"']").prop("selected",true)
            $("#ClusterUpdateModal").modal("show")
       }else{
            swal("OH,My God",data.msg,"error")
       };
    })
});

$("#cluster_update_submit").click(function(){
    var str = $("#ClusterUpdateForm").serialize()
    var url = "{% url 'mysql_cluster_change' %}"
    $.post(url,str,function(data){
        if (data.result==0){
            $("#ClusterUpdateModal").modal("hide")
            swal({
                title:"Good",
                text:data.msg,
                type:'success',
                confirmButtonText:"确定"
                },
                function(){
                    location.reload()
                });
        }else{
            swal("Oh,My God",data.msg,"error")
        }
    });
    return false;
});
<!--编辑结束-->

<!--删除-->
$(".del-btn").click(function(){
    var id = $(this).attr("data-id")
    var data = $(this).attr("data-del")
    $(".del-sure").attr('data-id',id)
    $("#data-del").html(data)
    $("#DeleteModal").modal("show")
});

$(".del-sure").click(function(){
   var id = $(this).attr('data-id')
   var url = "{% url 'mysql_cluster_delete' %}"
   $('#DeleteModal').modal('hide')
   $.post(url,{"id": id},function(data){
       if(data.result==0){
           swal({
             title:"Good",
             text:data.msg,
             type:'success',
             confirmButtonText:"确定"
             },
             function(){
                location.reload()
           })
       }else{
            swal("OH,My God",data.msg,"error")
       };
   });
   return false;
});

</script>

{% endblock %}
