{% extends "public/layout.html" %}

{% block breadcrumb %} 
    工单系统 / <strong class="active">SQL审核与提交</strong>
{% endblock %}

{% block myjs %}
<script src="/static/plugin/ace-builds-master/src/ace.js"></script>
<script src="/static/plugin/ace-builds-master/src/ext-language_tools.js"></script>
<script src="/static/plugin/twitter-bootstrap-wizard-master/jquery.bootstrap.wizard.min.js"></script>
<script src="/static/plugin/twitter-bootstrap-wizard-master/prettify.js"></script>
{% endblock %}

{% block css %}
<link href="/static/plugin/twitter-bootstrap-wizard-master/prettify.css" rel="stylesheet" type="text/css">
<style>
    pre {color: #23c6c8;}
    #sql_detail {
        position: absolute;
        top: 50px;
        right: 15px;
        bottom: 20px;
        left: 10px;
    }
    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
        background-color: #19aa8d;
    }
    .mytab > li.active {
        background: #19aa8d;
    }

    .mytab > li {
        border-radius: 20px;
        overflow: hidden;
    }

    .mytab > li a {
        background: #e5eae9;
    }

    .mytab > li.line:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background: #dedede;
        transform: translateY(-50%);
    }
</style>
{% endblock %}

{% block body %}
<div class="col-sm-12" id="rootwizard">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container" style="width: 100%">
                        <ul class="nav nav-pills nav-justified mytab">
                            <li><a href="#tab1" data-toggle="tab">第一步: 填写基础信息</a></li>
                            <li class="line"></li>
                            <li><a href="#tab2" data-toggle="tab">第二步: 填写 SQL 语句</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ibox-tools">
            </div>
        </div>
        <div class="ibox-content">
            <div class="tab-content">
                    <div class="tab-pane" id="tab1">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="font-size: 25px;">
                                <i class="fa fa-fire"></i> 工单基础信息
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <form id="SqlAddForm" enctype="multipart/form-data" class="form-horizontal nice-validator n-yellow Formvalid" novalidate="novalidate">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="title" class="col-sm-2 control-label">主题<span class="red-fonts ">*</span></label>
                                            <div class="col-sm-8">
                                                <input id="title" name="title" placeholder="工单主题" type="text" class="form-control" aria-required="true">
                                            </div>
                                        </div>

                                        <input name="type" type="hidden" class="form-control" aria-required="true" value="sql_exec">

                                        <input name="sql" type="hidden" class="form-control" aria-required="true" value="yes">

                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">紧急程度<span class="red-fonts">*</span></label>
                                            <div class="col-sm-8 row">
                                                {% for k,v in level.items %}
                                                <div class="col-sm-3">
                                                    <div class="radio i-checks">
                                                        <label><input type="radio" value="{{ k }}" name="level">{{ v }}</label>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">上线原因<span class="red-fonts">*</span></label>
                                            <div class="col-sm-8 row">
                                                {% for k,v in reason.items %}
                                                <div class="col-sm-3">
                                                    <div class="radio i-checks">
                                                        <label><input type="radio" value="{{ k }}" name="reason">{{ v }}</label>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <label for="detail" class="col-sm-2 control-label">工单说明<span class="red-fonts">*</span></label>
                                            <div class="col-sm-8">
                                                <textarea name='detail' id='detail' class="form-control" rows="5"></textarea>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="font-size: 25px;">
                                <i class="fa fa-fire"></i> SQL 审核与提交
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <legend><i class="fa fa-hand-rock-o"></i> 请填写 SQL 语句</legend>
                                        <div style="bottom:36px;height:calc(100vh - 200px);resize:none;">
                                            <div id="sql_detail" style="margin-left: 25px;margin-right: 20px;font-size: 14px">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <legend><i class="fa fa-hand-o-down"></i> 数据库配置</legend>
                                        <form id="SqlForm" class="form-horizontal nice-validator n-yellow Formvalid" novalidate="novalidate" style="margin-left: 0px;width:98%">
                                            {% csrf_token %}
                                            <div class="form-group" style="margin-left: 0px;">
                                                <label>环境类型</label>
                                                <select class="form-control" name="env" id="env">
                                                    <option value="" id="env_noselect_id">请选择...</option>
                                                    <option value="online">生产</option>
                                                    <option value="gray">预发布</option>
                                                </select>
                                            </div>

                                            <div class="form-group" style="margin-left: 0px;">
                                                <label>Mysql 库</label>
                                                <select class="form-control choices" name="dbs" id="dbs">
                                                    <option id="dbs_noselect_id" value="">请选择...</option>
                                                </select>
                                            </div>
                                            <div class="form-group" style="margin-left: 0px;">
                                                <div class="col-sm-offset-1">
                                                    <button id="sql_check" class="btn btn-info">检查语法</button>
                                                    <button id="sql_commit" class="btn btn-primary">提交SQL</button>
                                                    <a href="#" id="sql_add_again" class="btn btn-warning">继续添加</a>
                                                </div>
                                                <div>
                                                </div>
                                                    </br>
                                                    <p style="font-size: 6px">
                                                        <i class="fa fa-exclamation-circle"></i>
                                                        如果需要<strong style="color:red">添加多个库</strong>的SQL，请先按库拆分SQL，然后逐个库进行添加并点击<strong style="color:red">提交SQL</strong>后，再点击<strong style="color:red">继续添加</strong>其他库的SQL
                                                    </p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <ul class="pager wizard">
                            <li class="previous">
                                <a class="btn" style="color:white;background: #5bd18b;border-color: #5bd18b;float: inherit;" href="javascript:;">
                                    上一步
                                </a>
                            </li>
                            <li class="next">
                                <a class="btn" style="color:white;background: #5bd18b;border-color: #5bd18b;float: inherit;" href="javascript:;">
                                    下一步
                                </a>
                            </li>
                            <li class="finish">
                                <a class="btn" style="color:white;background: #57a3f1;border-color: #57a3f1;" href="javascript:;">
                                    提交工单
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}
<script>
var online_db_list = {{ db_online_list | safe |default:'"test_db"' }};
var gray_db_list = {{ db_gray_list | safe | default:'"test_db"'}};

$('#rootwizard').bootstrapWizard(
    {
        'nextSelector': '.next',
        'previousSelector': '.previous',
        'onTabClick': function(tab, navigation, index) {
            return false;
        },
    }
);

function setAceEditMode(edit_id,model) {
    var editor = ace.edit(edit_id);
    require("ace/ext/old_ie");
    var langTools = ace.require("ace/ext/language_tools");
    editor.session.setValue('')
    editor.setTheme("ace/theme/vibrant_ink");
    editor.getSession().setMode("ace/mode/" + model);
    editor.setShowPrintMargin(false);
    editor.session.setTabSize(4);
    editor.setHighlightActiveLine(true);
    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true
    });
};
setAceEditMode("sql_detail","mysql");

$("#env").change(function(){
    $("#dbs option[id!='dbs_noselect_id']").remove()
    env_str = $(this).val()
    var dbs_str = ''
    if(env_str=='online'){
        $.each(online_db_list,function(k,v){
            dbs_str += '<option value='+v.id+'>'+v.name+'</option>'
        });
    }else if(env_str=='gray'){
        $.each(gray_db_list,function(k,v){
            dbs_str += '<option value='+v.id+'>'+v.name+'</option>'
        });
    }
    $("#dbs_noselect_id").after(dbs_str)
    $("#dbs").multiselect('rebuild')
});

$("#sql_add_again").click(function(){
    ace.edit("sql_detail").session.setValue('');
    $("#env option").prop("selected",false);
    $("#dbs option[id!='dbs_noselect_id']").remove();
    $("#dbs").multiselect('rebuild')
});
$(".choices").multiselect({
    enableFiltering: true,
    maxHeight: 200,
    buttonWidth: '100%',
    nonSelectedText: '请选择 IP 地址',
    delimiterText: ',',
    selectedClass: 'multiselect-selected',
    enableCaseInsensitiveFiltering: true,
    disableIfEmpty: true,
});

</script>
{% endblock %}
