{% extends "public/layout.html" %}

{% block breadcrumb %} 
    数据库管理 / <strong class="active">DBA提交SQL小窗</strong>
{% endblock %}

{% block myjs %}
<script src="/static/plugin/ace-builds-master/src/ace.js"></script>
<script src="/static/plugin/ace-builds-master/src/ext-language_tools.js"></script>
{% endblock %}

{% block css %}
<style>
    pre {color: #23c6c8;}
    #sql_detail {
        position: absolute;
        top: 15px;
        right: 15px;
        bottom: 20px;
        left: 10px;
    }
</style>
{% endblock %}

{% block body %}
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading" style="font-size: 25px;">
            <i class="fa fa-fire"></i> SQL 审核与提交
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-9">
                    <legend><i class="fa fa-hand-rock-o"></i> 请填写 SQL 语句</legend>
                    <div style="bottom:10px;height:calc(100vh - 200px);resize:none;position: relative">
                        <div id="sql_detail" style="margin-left: 25px;margin-right: 20px;font-size: 14px">
                        </div>
                    </div>
                    <div style="margin-left: 30px;margin-bottom: 15px;">
                        <form id="SqlFileAddForm" enctype="multipart/form-data" class="form-horizontal nice-validator n-yellow">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="sql_attach" class="control-label col-sm-2" style="text-align: left">SQL附件</label>
                                <div class="col-sm-8">
                                    <span>仅支持<strong style="color:red">.txt</strong> 和 <strong style="color:red">.sql</strong> 文件</span>
                                    <span>每次上传要选择需要上传的<strong style="color:red">全部</strong>文件</span>
                                    <input id="fileupload" type="file" name="files[]" data-url="{% url 'workform_upload' %}" multiple="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="process-bar" class="col-sm-2 control-label"></label>
                                <div class="col-sm-9 progress" id="progress_file_upload">
                                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-3">
                    <legend><i class="fa fa-hand-o-down"></i> 数据库配置</legend>
                    <form id="SqlForm" class="form-horizontal nice-validator n-yellow Formvalid" novalidate="novalidate" style="margin-left: 0px;width:98%">
                        {% csrf_token %}
                        <div class="form-group" style="margin-left: 0px;">
                            <label>环境类型</label>
                            <select class="form-control" name="env" id="env">
                                <option value="" id="env_noselect_id">请选择...</option>
                                <option value="online">生产</option>
                                <option value="gray">预发布</option>
                            </select>
                        </div>

                        <div class="form-group" style="margin-left: 0px;">
                            <label>Mysql 库</label>
                            <select class="form-control choices" name="db_name" id="db_name">
                                <option id="dbs_noselect_id" value="">请选择...</option>
                            </select>
                        </div>

                        <input name="sql_block" id="sql_block" type="hidden" class="form-control">
                        <input id="sql_file_url" name="sql_file_url" type="hidden" class="form-control">
                        <input id="sql_check_uuid" name="sql_check_uuid" type="hidden" class="form-control">

                        <div class="form-group" style="margin-left: 0px;">
                            <div class="col-sm-offset-2">
                                <div>
                                    <a href="#" id="sql_check_direct" class="btn btn-info">检查语法</a>
                                    <button id="sql_commit" class="btn btn-primary" disabled>提交SQL</button>
                                </div>
                            </div>
                            <div>
                                </br>
                                <p style="font-size: 4px">
                                    <i class="fa fa-exclamation-circle"></i>
                                    请先进行<strong style="color:red">检查语法</strong>，检查<strong style="color:red">成功</strong>后，才允许<strong style="color:red">提交</strong>
                                </p>
                                </br>
                                <p style="font-size: 4px">
                                    <i class="fa fa-exclamation-circle"></i>
                                    如果检查某个SQL<strong style="color:red">语法有错</strong>，则该条SQL后面的<strong style="color:red">所有SQL停止</strong>检查语法
                                </p>
                                </br>
                                <p style="font-size: 4px">
                                    <i class="fa fa-exclamation-circle"></i>
                                    如果已经检查通过但还需要在左边的编辑器<strong style="color:red">修改</strong>，也需要再<strong style="color:red">检查语法</strong>，否则提交的是<strong style="color:red">旧SQL</strong>
                                </p>
                                </br>
                                <p style="font-size: 4px">
                                    <i class="fa fa-exclamation-circle"></i>
                                    如果需要<strong style="color:red">添加多个库</strong>的SQL，请先按库拆分SQL，然后逐个库进行<strong style="color:red">添加SQL->检查语法->提交SQL->继续添加SQL</strong>
                                </p>
                                </br>
                                <p style="font-size: 4px">
                                    <i class="fa fa-exclamation-circle"></i>
                                    SQL 语句必须<strong style="color:red">以分号';'</strong>结束,并且在SQL语句中<strong style="color:red">不能存在分号';'</strong>,否则会影响SQL拆分
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
var online_db_list = {{ db_online_list | safe |default:'"test_db"' }};
var gray_db_list = {{ db_gray_list | safe | default:'"test_db"'}};
var sql_obj_id_list = new Array();
var sql_file_url_list = new Array();
var sql_check_uuid_list = new Array();

$(".choices").multiselect({
    enableFiltering: true,
    maxHeight: 200,
    buttonWidth: '100%',
    nonSelectedText: '请选择 IP 地址',
    delimiterText: ',',
    selectedClass: 'multiselect-selected',
    enableCaseInsensitiveFiltering: true,
    disableIfEmpty: true,
});

<!-- ACE 编辑器配置 -->
function setAceEditMode(edit_id,model) {
    var editor = ace.edit(edit_id);
    require("ace/ext/old_ie");
    var langTools = ace.require("ace/ext/language_tools");
    editor.session.setValue('')
    editor.setTheme("ace/theme/vibrant_ink");
    editor.getSession().setMode("ace/mode/" + model);
    editor.setShowPrintMargin(false);
    editor.session.setTabSize(4);
    editor.setHighlightActiveLine(true);
    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true
    });
};
setAceEditMode("sql_detail","mysql");
<!--结束-->

<!-- 根据所选环境，筛选相应的 db-->
$("#env").change(function(){
    $("#db_name option[id!='dbs_noselect_id']").remove()
    env_str = $(this).val()
    var dbs_str = ''
    if(env_str=='online'){
        $.each(online_db_list,function(k,v){
            dbs_str += '<option value='+v.id+'>'+v.name+'</option>'
        });
    }else if(env_str=='gray'){
        $.each(gray_db_list,function(k,v){
            dbs_str += '<option value='+v.id+'>'+v.name+'</option>'
        });
    }
    $("#dbs_noselect_id").after(dbs_str)
    $("#db_name").multiselect('rebuild')
});
<!--结束-->

<!--上传文件进度条-->
$('#fileupload').click(function(){
    upload_sql_file_reload()
});

$('#fileupload').fileupload({
    dataType: 'json',
    done: function (e, data) {
        if(data.result.result==0){
            $.each(data.result.files, function (index, file) {
                $('#fileupload').after($("<p class='file_already_upload'/>").html(file.name).append($("<button class='btn btn-info btn-xs sql_check_attach' style='margin-left: 50px;'/>").attr("file_name",file.name).text("检查语法")));
            });
        }else{
            swal("OH,My God",data.result.msg,"error")
        }
    },
    progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('#progress_file_upload .progress-bar').css(
            'width',
            progress + '%'
        );
        $('#progress_file_upload .progress-bar').text(progress + '%');
    }
});

<!-- sql 语法检查 -->
$(document).on("click","#sql_check_direct",function(){
    {#var sql_str = ace.edit("sql_detail").session.getValue().replace(/\r\n/g,'\n')#}
    if($(this).attr("disabled")){
        return false
    };
    $(this).attr("disabled",true)
    var sql_str = ace.edit("sql_detail").session.getValue()
    if (sql_str && $("#fileupload + p:first").text().replace("检查语法",'')){
        $(this).attr("disabled",false)
        swal("OH,My God","只能在左侧 '填写SQL' 或 '上传SQL附件',二者只能选其一","error")
        return false;
    };
    var post_str = {"sql_block":sql_str,"db_name":$("#db_name").val(),"env":$("#env").val()}
    var url = "{% url 'inception_sql_check' %}"
    $.post(url,post_str,function(data){
        if(data.result==0) {
            if(data.sql_err==0){
                sql_check_uuid_list.push(data.sql_check_uuid)
                $("#sql_block").val(sql_str)
                $("#sql_commit").prop("disabled", false)
            }else{
                $("#sql_commit").prop("disabled", true)
                $("#sql_check_direct").attr("disabled",false)
            };
            window.open("{% url 'inception_sql_check_result' %}?sql_check_uuid=" + data.sql_check_uuid,'_blank')
        }else{
            $("#sql_check_direct").attr("disabled",false)
            swal("OH,My God",data.msg,"error")
        };
    });
    return false;
});

<!-- SQL附件 语法检查-->
$(document).on("click","button.sql_check_attach",function(){
    if($(this).attr("disabled")){
        return false
    };
    $(this).attr("disabled",true)
    var sql_file_name = $(this).attr("file_name")
    var sql_str = ace.edit("sql_detail").session.getValue()
    if (sql_str && sql_file_name){
        $(this).attr("disabled",false)
        swal("OH,My God","只能在左侧 '填写SQL' 或 '上传SQL附件',二者只能选其一","error")
        return false;
    };
    var post_str = {"db_name":$("#db_name").val(),"env":$("#env").val(),"sql_file_url":sql_file_name}
    var url = "{% url 'inception_sql_check' %}"
    $.post(url,post_str,function(data){
        if(data.result==0) {
            if(data.sql_err==0){
                sql_file_url_list.push(sql_file_name)
                sql_check_uuid_list.push(data.sql_check_uuid)
                $("#sql_commit").prop("disabled", false)
            }else{
                $("#sql_commit").prop("disabled", true)
            };
            window.open("{% url 'inception_sql_check_result' %}?sql_check_uuid=" + data.sql_check_uuid,'_blank')
        }else{
            $("button.sql_check_attach").attr("disabled",false)
            swal("OH,My God",data.msg,"error")
        };
    });
    return false;
});

<!-- sql 提交 -->
$("#sql_commit").click(function(){
    $("#sql_file_url").val(sql_file_url_list.join(";"))
    $("#sql_check_uuid").val(sql_check_uuid_list.join(";"))
    var my_str = $("#SqlForm").serialize()
    var url = "{% url 'inception_sql_add' %}"
    $.post(url,my_str,function(data){
        if(data.result==0){
            $.each(data.sd_obj_id_list,function(k,v){
                sql_obj_id_list.push(v);
            });
            $("#workform_commit").attr("disabled",false);
            swal({
                    title:"Good",
                    text:data.msg,
                    type:'success',
                    confirmButtonText:"确定"
                },
                function(){
                    mysql_add_again();
                    return false;
            })
        }else{
            swal("OH,My God",data.msg,"error")
        };
    });
    return false;
});
<!-- 结束 -->

function mysql_add_again(){
    upload_sql_file_reload()
    $("#sql_block").val('')
    $.each(sql_check_uuid_list,function(k,v){
        sql_check_uuid_list.pop()
    });
    $("#sql_check_direct").attr("disabled",false)
    ace.edit("sql_detail").session.setValue('');
    $("#sql_commit").prop("disabled",true);
    $("#env option").prop("selected",false);
    $("#db_name option[id!='dbs_noselect_id']").remove();
    $("#db_name").multiselect('rebuild');
};

function upload_sql_file_reload(){
    $.each(sql_file_url_list,function(k,v){
        sql_file_url_list.pop()
    });
    $(".file_already_upload").remove()
    $("#progress_file_upload .progress-bar").css('width',0).text('0%')
    $(" #sql_file_url").val('')
};

</script>
{% endblock %}
